<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" userName="ISTCCsharp@gmail.com" port="587" enableSsl="true" password="ISTC20182019" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>